<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Websmith.Bliss.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="ConnectionString" connectionString="server=.\SQLEXPRESS;database=BLISS_MAIN;uid=sa; pwd=abcd"/>
    <!--<add name="ConnectionString" connectionString="server=COM-PC;database=BLISS;uid=sa; pwd=abcd"/>-->
  </connectionStrings>
  <startup>
     <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <userSettings>
    <Websmith.Bliss.Properties.Settings>
      <setting name="PrinterPath" serializeAs="String">
        <value>EPSON TM-m30 Receipt</value>
      </setting>
      <setting name="Port" serializeAs="String">
        <value>9091</value>
      </setting>
      <setting name="brentClients" serializeAs="String">
        <value />
      </setting>
    </Websmith.Bliss.Properties.Settings>
  </userSettings>
</configuration>
